#pragma once
#include <HTTPClient.h>
#include <esp_system.h>
#include <Arduino.h>

const char dataFileName[] = "/datalog.csv";
const char logFileName[] = "/system.log";

const char *ssid = "ssid";
const char *password = "WiFi password";
const char *hostname = "ESP32 hostname";

const char *otaUsername = "user name";
const char *otaPassword = "password";

const char *NTP_SERVER1 = "ntp1.sp.se";
const char *NTP_SERVER2 = "ntp2.sp.se";
const char *NTP_SERVER3 = "pool.ntp.org";
const char *TIME_ZONE = "CET-1CEST-2,M3.5.0/02:00:00,M10.5.0/03:00:00";
const int NTP_SYNC_INTERVAL = 6;   // hours

// IPAddress for DNS servers
IPAddress primaryDNS(8,8,8,8);  
IPAddress secondaryDNS(9,9,9,9);     

#define INFLUXDB_URL "http://influx-IP:8086"
#define INFLUXDB_TOKEN "Influx token"
#define INFLUXDB_ORG "Influx org"
#define INFLUXDB_DATA_BUCKET "My bucket"
#define INFLUXDB_LOG_BUCKET "My log bucket"

// MAC address for transmitting ESP32 (greenhouse)
uint8_t transmitterMAC[] = {0x00, 0x00, 0x00, 0x00, 0x00, 0x00};

const int UPDATE_INTERVAL = 5;     // How often to send data, in seconds
const int INV_OFF_VOLTAGE = 11000; // mV
const int INV_ON_VOLTAGE = 13000;  // mV
const int INV_RETRY_PERIOD = 1800; // seconds

// Define pins
#define ONBOARD_BUTTON 0
#define ONBOARD_LED 39
#define RXD1 15
#define TXD1 16
#define RXD2 17
#define TXD2 18
#define DHT_PIN 4
#define NTC1_READ_PIN 6 
#define NTC2_READ_PIN 7
#define NTC_POWER_PIN 5 // (A4) 3.3V for the voltage divider
